---
import AboutHeroImage from '../assets/me.svg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Let's introduce Sid"
	pubDate={new Date('August 13 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Technology-agnostic software consultant building impactful solutions in FinTech & Telecom.
		On a quest to master AI/ML, one concept per epoch. 
		DevSecOps at heart, now weaving it into MLOps. Curious learner, bookworm, and music enthusiast.
	</p>
</Layout>
